h1 {
    font-family: 'Pacifico', cursive;
    color: #5f021f;
}

img {
    width: 100%;
    height: auto;
}

.btn_click {
    background-color: green;
}

.btn_click:hover {
    background-color: black;
}

.btn_four {
    background-color: red;
}

.btn_four:hover {
    background-color: black;
}

#nb_canelé {
    color: #a47;
}
